/* font Google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font Google */

/* Start Variables */
:root {
  --main-color: #fcd780;
  --secondary-color: #16205f;
  --blue-color: #3b82f6;
  --section-padding: 65px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
  --color: #2596be;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
  padding: 0;
  background: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components  */
.title h1 {
  color: var(--blue-color);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title h1 {
    font-size: 23px;
  }
}
.title p {
  color: #232323;
  text-align: center;
  margin: 10px 0px;
  font-size: 15px;
}

.buttonScroll {
  position: fixed;
  bottom: 45px;
  right: 60px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 18%;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

.buttonScroll:hover {
  background-color: white;
  color: var(--main-color);
}

.buttonScroll i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 40px;
  animation: l1 1s linear infinite alternate;
}

.loader:before {
  content: "Excat360";
  color: var(--main-color);
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}

/* Loader animation */
@keyframes loader-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.effect {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: loader-animation 2s ease forwards; /* Adjust timing as needed */
}

/* Content animation */
@keyframes content-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#sections {
  animation: content-animation 1s ease forwards; /* Adjust timing as needed */
}

/* Start Mobile Menu */
.menuMobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20000;
  background-color: rgba(0, 0, 0, 0.36);
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s;
  display: flex;
  box-shadow: 0px 4px 8px -4px rgba(108, 3, 255, 0.42);
}

.menuMobile #outMenu {
  flex: 1;
}

.showMenuMobile {
  transform: translateX(0%);
}

.menuMobile .container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20000;
  background-color: #ffffff;
  z-index: 20000;
  width: 300px;
  height: 100vh;
  transform: translateX(0%);
  transition: 0.5s;
  box-shadow: 0px 4px 8px -4px rgba(108, 3, 255, 0.42);
}

.menuMobile .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 16px;
  border-bottom: 1px solid #00000029;
}

.menuMobile .container .top button {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

.menuMobile .container .top button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuMobile .container .top h4 {
  color: #000;
  font-size: 25px;
  margin: 0;
}

.menuMobile .container ul {
  padding: 0px;
}

.menuMobile .container ul li {
  text-align: center;
  list-style: none;
  margin: 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/* End Mobile Menu */
/* End Components  */
/* Start Header */
header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  z-index: 1000;
  transition: all ease 0.5s;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  header div {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  header div {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  header div {
    width: 1170px;
  }
}

header div ul {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

@media (max-width: 768px) {
  header div ul {
    display: none;
  }
}

header div ul li {
  display: block;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

header div ul li:hover {
  color: var(--main-color);
}

header div button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 992px) {
  header div button {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  header div button {
    display: none;
  }
}

header div button#showMenu {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

@media (max-width: 768px) {
  header div button#showMenu {
    display: block;
  }
}

header div button:hover {
  background-color: white;
  color: var(--main-color);
}

header.show {
  background-color: rgba(255, 255, 255) !important;
  box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
  padding: 0.4rem 1.25rem 0rem;
  z-index: 1000;
  transition: padding 0.2s ease, background-color 0.18s ease;
}

header.show h1 {
  color: #000;
}

header.show div ul li {
  color: #000;
}

header.show div ul li:hover {
  color: var(--main-color);
}

header.show div button#showMenu {
  color: var(--main-color);
}
/* end Header */
/* Start Landing */
.landing {
  background-attachment: fixed;
  background-image: url("../assets/banner.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100$;
  height: 100%;
  background-color: #0000008a;
}

.landing .container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 770px;
}
.landing .content h1 {
  font-size: 60px;
  text-align: center;
  margin: 5px 0px;
}

.landing .content h1 span {
  color: var(--main-color);
}

.landing .content p {
  text-align: center;
  font-size: 15px;
  margin: 10px 0px;
  line-height: 1.6;
}

.landing .container button {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.5s;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  font-weight: 500;
}

.landing .container button:hover {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 800px) {
  .landing .container {
    width: 100%;
  }
  .landing .content h1 {
    font-size: 33px;
    text-align: center;
    margin: 5px 0px;
  }

  .landing .content p {
    font-size: 14px;
  }
}

.landing img {
  position: absolute;
  z-index: 2;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}
/* End Landing */
/* Start Section best Solution  */
.bestSolution {
  padding: var(--section-padding) 0px;
}

.bestSolution .title h1 {
  width: 66%;
  margin: auto;
}

@media (max-width: 992px) {
  .bestSolution .title h1 {
    width: 100%;
    margin: auto;
  }
}

.bestSolution .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0px;
  background-color: #e0e4fc;
  padding: 30px 15px;
  border-radius: 15px;
}

@media (max-width: 992px) {
  .bestSolution .boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .bestSolution .boxes {
    grid-template-columns: 1fr;
  }
}

.bestSolution .boxes .box {
  text-align: center;
}

.bestSolution .boxes .box img {
  width: 50px;
  height: 50px;
}

.bestSolution .boxes .box h4 {
  font-size: 19px;
  margin: 14px 0px 5px;
  color: var(--secondary-color);
}

.bestSolution .boxes .box p {
  margin: 9px 0px;
  font-size: 14px;
  color: #232323;
}
/* End Section best Solution  */
/* Start Section Software  */
.software {
  padding: var(--section-padding) 0px;
}

.software .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1140px) {
  .software .grid {
    grid-template-columns: 1fr;
  }
}

.software .grid .text .title h1 {
  text-align: start;
}

.software .grid .text p {
  line-height: 1.5;
  font-size: 14px;
  color: #232323;
}

.software .images {
  position: relative;
}

.software .images .image img {
  width: 250px;
  margin: auto;
  display: block;
}

@media (max-width: 662px) {
  .software .images .image {
    display: none;
  }
}

.software .images .app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1140px) {
  .software .images .app {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 992px) {
  .software .images .app {
    left: 30%;
  }
}

@media (max-width: 662px) {
  .software .images .app {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0%;
    transform: translateX(0%);
  }
}

.software .images .app img {
  width: 300px;
  border-radius: 10px;
  position: absolute;
  transition: 0.5s;
}

.software .images .app img:hover{
  transform: scale(1.3);
  z-index:10;
}

.software .images .app img:nth-of-type(1) {
  top: -30px;
}

.software .images .app img:nth-of-type(2) {
  top: 125px;
  left: 70px;
}

.software .images .app img:nth-of-type(3) {
  top: 19px;
  left: 242px;
  z-index: 5;
}

@media (max-width: 662px) {
  .software .images .app img {
    position:relative;
    top:0 !important ;
    left:0 !important;
    display: block;
    margin: 13px auto;
  }
}
/* End Section Software  */
/* Start Section Features  */
.features {
  padding: var(--section-padding) 0px;
  overflow: hidden;
}

.features .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 30px 0px;
}
@media (max-width: 992px) {
  .features .boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .features .boxes {
    grid-template-columns: 1fr;
  }
}

.features .boxes .box {
  text-align: center;
}

.features .boxes .box .number {
  font-size: 45px;
  margin: 0;
  font-weight: 600;
}

.features .boxes .box:nth-of-type(1) .number {
  color: #3f99ff;
}
.features .boxes .box:nth-of-type(2) .number {
  color: #00bcd4;
}
.features .boxes .box:nth-of-type(3) .number {
  color: #4ed2b3;
}
.features .boxes .box:nth-of-type(4) .number {
  color: #3f99ff;
}
.features .boxes .box:nth-of-type(5) .number {
  color: #00bcd4;
}
.features .boxes .box:nth-of-type(6) .number {
  color: #00bcd4;
}

.features .boxes .box h4 {
  font-size: 20px;
  margin: 5px 0px;
  color: var(--main-color);
}

.features .boxes .box p {
  margin: 9px 0px;
  font-size: 16px;
  color: #232323;
}
/* End Section Features  */
/* Start Section Integrate Company  */
.integrateCompany {
  padding: var(--section-padding) 0px;
}

.integrateCompany .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 30px 0px;
}
@media (max-width: 992px) {
  .integrateCompany .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .integrateCompany .grid {
    grid-template-columns: 1fr;
  }
}

.integrateCompany .box img {
  width: 100%;
  border-radius: 12px;
}

.integrateCompany .box h4 {
  font-size: 20px;
  margin: 9px 0px;
  text-align: center;
  color: var(--main-color);
}

.integrateCompany .box p {
  text-align: center;
  color: #232323;
  margin: 0px;
  font-size: 14px;
}
/* End Section Integrate Company  */
/* Start Section pricing */
.pricing {
  padding: var(--section-padding) 0px;
}
.pricing .title p {
  width: 60%;
  margin: 10px auto;
  line-height: 1.5;
}

@media (max-width: 992px) {
  .pricing .title p {
    width: 100%;
    margin: 10px auto;
    line-height: 1.5;
  }
}

.pricing .plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 30px 0px;
  margin: 30px 0px;
}

@media (max-width: 992px) {
  .pricing .plans {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .pricing .plans {
    grid-template-columns: 1fr;
  }
}

.pricing .plans .plan {
  text-align: center;
  padding: 40px 30px;
  border: 1px solid #77777712;
  border-radius: 10px;
}

.pricing .plans .plan h2 {
  color: var(--secondary-color);
  margin: 0px;
  font-size: 30px;
}

.pricing .plans .active h2 {
  color: var(--main-color);
}

.pricing .plans .plan .price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing .plans .active {
  box-shadow: 0px 4px 8px -3px rgba(58, 53, 65, 0.42);
}

.pricing .plans .plan .price span {
  color: var(--main-color);
  position: relative;
  top: -8px;
  font-weight: 600;
}

.pricing .plans .plan h5 {
  margin: 0;
  font-size: 40px;
  color: var(--blue-color);
}

.pricing .plans .plan .price p {
  margin: 0;
  position: relative;
  top: 6px;
  font-weight: 600;
  color: #000 !important;
}

.pricing .plans .plan ul {
  padding: 0px;
  border-top: 1px solid #00000014;
  padding-top: 18px;
}

.pricing .plans .plan ul li {
  margin: 15px 0px;
  color: #666666;
  list-style: none;
  font-size: 14px;
}

.pricing .plans .plan p {
  color: #aaaaaa;
}
.pricing .plans .plan button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  height: 45px;
  width: 150px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 40px;
  transition: 0.5s;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.pricing .plans .plan button:hover {
  background-color: white;
  color: var(--main-color);
}
/* End Section pricing */
/* Start Section Arrange Now */
.arrangeNow {
  background-attachment: fixed;
  background-image: url("../assets/banner2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80vh;
  color: white;
}

.arrangeNow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100$;
  height: 100%;
  background-color: #0000008a;
}

.arrangeNow .content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 770px;
}

.arrangeNow .content h1 {
  font-size: 60px;
  text-align: center;
  margin: 5px 0px;
}

.arrangeNow .content p {
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  margin: 10px 0px;
}

.arrangeNow .container button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.5s;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  font-weight: 500;
}

.arrangeNow .container button:hover {
  background-color: white;
  color: var(--main-color);
}

@media (max-width: 800px) {
  .arrangeNow .content {
    width: 100%;
  }
  .arrangeNow .content h1 {
    font-size: 33px;
    text-align: center;
    margin: 5px 0px;
  }

  .arrangeNow .content p {
    font-size: 25px;
  }
}
/* End Section Arrange Now   */
/* Start Section Team */
.team {
  padding: var(--section-padding) 0px;
}

.team .container .grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 35px 0px;
  flex-direction: row;
}

@media (max-width: 670px) {
  .team .container .grid {
    flex-direction: column;
  }
}

.team .container .grid img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.team .container .grid h4 {
  text-align: center;
  color: var(--main-color);
  font-size: 28px;
  margin: 10px 0px 5px;
}

.team .container .grid p {
  text-align: center;
  color: #232323;
  margin: 0;
  font-size: 14px;
}

.team .image {
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin: auto;
}

.team .image:hover .links {
  transform: translateY(0px);
}

.team a {
  font-size: 25px;
  color: white;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: 5px;
  top: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: 0.4s;
  transform: translateX(-100px);
}

.team a:hover {
  color: var(--main-color);
  background-color: white;
}

.team a:nth-of-type(1) {
  top: 65px;
  transition: 0.5s;
}

.team a:nth-of-type(2) {
  top: 115px;
  transition: 0.6s;
}

.team a:nth-of-type(3) {
  top: 165px;
  transition: 0.7s;
}

.team a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team .member:hover a {
  transform: translateX(0px);
}
/* End Section Team */
/* Start Section Contact */
.contact {
  padding: var(--section-padding) 0px;
}
.contact .content {
  background-color: #e0e4fc;
  padding: 20px 25px;
  border-radius: 15px;
  margin: 30px 0px;
}

.contact .top h3 {
  font-size: 35px;
  margin: 0;
  font-weight: 600;
  color: var(--secondary-color);
}

.contact .top p {
  margin: 5px 0px 10px;
  font-size: 14px;
  color: #232323;
}

.contact .grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 40px;
  margin: 10px 0px;
}
@media (max-width: 992px) {
  .contact .grid {
    grid-template-columns: 1fr;
  }
}

.contact .flex {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

@media (max-width: 650px) {
  .contact .flex {
    flex-direction: column;
    gap: 0px;
  }
}

.contact .div {
  position: relative;
  flex: 1;
}

.contact .div input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #7777774a;
  outline: none;
  font-size: 17px;
  margin: 10px 0px 0px 0px;
}

.contact .div input::placeholder {
  font-size: 17px;
}

.contact .div i {
  position: absolute;
  right: 15px;
  top: 24px;
  color: var(--main-color);
}

.contact .div textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #7777774a;
  outline: none;
  font-size: 17px;
  margin: 10px 0px 0px 0px;
  resize: vertical;
}

.contact .div textarea::placeholder {
  font-size: 17px;
}

.contact button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  height: 45px;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  border-radius: 7px;
  transition: 0.5s;
  cursor: pointer;
  display: block;
  margin: 5px auto;
}

.contact button:hover {
  background-color: white;
  color: var(--main-color);
}

.contact .boxes .box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 25px 0px;
}

.contact .boxes .box:nth-of-type(1) {
  margin: 10px 0px;
}

.contact .boxes .box h4 {
  margin: 0;
  font-size: 16px;
}

.contact .boxes .box p {
  margin: 4px 0px;
  font-size: 15px;
  color: #3333336e;
}

.contact .boxes .box .icon {
  font-size: 17px;
  color: white;
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
  too: 0;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid var(--main-color);
}

.contact .boxes .box .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Section Contact */
/* Start Map */
.map {
  position: relative;
}

.map iframe {
  width: 100%;
  height: 300px;
  position: relative;
}

.map::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000047;
  top: 0;
  left: 0;
}
/* End Map */
/* Start Footer */
footer {
  padding: 30px 0px;
  background-color: #ffffff;
}

footer .grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  margin: 30px 0px;
}
@media (max-width: 992px) {
  footer .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  footer .grid {
    grid-template-columns: 1fr;
  }
}

footer .logo {
  text-align: center;
}

footer .partTwo .links {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 20px;
}

footer .partTwo p {
  margin: 0;
  color: #aaaaaa;
}

footer .partTwo a {
  font-size: 17px;
  color: var(--main-color);
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
  too: 0;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid var(--main-color);
}

footer .partTwo a:hover {
  color: white;
  background-color: var(--main-color);
}

footer .partTwo a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .info {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

footer .info .icon {
  color: var(--main-color);
}

footer .info p {
  margin: 0;
  color: #aaaaaa;
  flex:1;
}

footer .madeBy {
  border-top: 1px solid #0000001f;
  padding: 20px 0px 0px;
  text-align: center;
  color: #aaaaaa;
}
/* End Footer */

